name: Generate Tetris Contribution GIF

on:
  schedule:
    - cron: "0 */24 * * *" 
  workflow_dispatch:         

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Clone Tetris GIF Maker
        run: |
          git clone https://github.com/debba/gh-contributions-tetris-gif-maker.git tetris-gif-maker
          cd tetris-gif-maker
          python -m pip install --upgrade pip
          python -m p
